@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  color-scheme: only light;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
html {
  scroll-behavior: smooth;
}
body {
  color: rgb(var(--foreground-rgb));
  scroll-behavior: smooth;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

#sidenav {
  height: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: hidden;
  padding-top: 60px;
  transition: height 0.4s;
}
.glass {
  text-shadow: #fff 0px 0px 4px;
  background-color: rgba(200, 200, 200, 0.2);
  -webkit-animation: blur 0.4s ease 0s forwards;
  animation: blur 0.4s ease-in 0s forwards;
}
/* .unglass {
  -webkit-animation: blur 0.4s ease 0s reverse;
  animation: blur 0.4s ease-in 0s reverse;
} */
@keyframes blur {
  0% {
    -webkit-backdrop-filter: saturate(100%) blur(0px);
    backdrop-filter: saturate(100%) blur(0px);
  }
  100% {
    -webkit-backdrop-filter: saturate(200%) blur(10px);
    backdrop-filter: saturate(200%) blur(10px);
  }
}

.portrait {
  height: clamp(250px, 35vw, 500px);
  width: clamp(250px, 35vw, 500px);
  animation: morph 8s ease-in-out infinite;
  background-image: url("../assets/portrait-phan.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: clamp(8px, 1vw, 16px) solid #44453d;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  position: relative;
  transition: all 1s ease-in-out;
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.fadeout {
  animation: fadeout 0.3s 1.3s ease-in forwards;
}
@keyframes fadeout {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.quote {
  animation: textScaleDown 0.6s 1.6s linear forwards,
    textColorChange 0.4s 2.2s linear forwards;
}
@keyframes textScaleDown {
  0% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: scale(0.6) translateY(-200px);
  }
}
@keyframes textColorChange {
  0% {
    color: rgb(23, 23, 23, 1);
    text-shadow: rgb(250, 250, 250, 1) 3px 3px 9px;
  }
  100% {
    color: rgb(250, 250, 250, 1);
    text-shadow: rgb(23, 23, 23, 1) 3px 3px 9px;
  }
}

.bg-gradient-animate {
  background: linear-gradient(270deg, #679fb1, #fff);
  background-size: 300% 300%;
  -webkit-animation: bgGradientAnimate 5s ease infinite;
  -moz-animation: bgGradientAnimate 5s ease infinite;
  animation: bgGradientAnimate 5s ease infinite;
}
@-webkit-keyframes bgGradientAnimate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes bgGradientAnimate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes bgGradientAnimate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.text-shadow {
  text-shadow: rgba(255, 255, 255, 1) 0px 0px 3px;
}
